* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: sans-serif;
    background-size: cover;
    background: white;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5);
}

.card-header h3 {
    color: white;
}

.input-group-icon span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}